.contact-body {
    padding: 10px;
    margin: 10px;
}

.contact-columns {
    display: flex;
    justify-content: center;
}

.contact-left-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 700;
    font-size: 30px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #618aac;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
    color: white;
   
}

.contact-columns textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 6px solid #618aac;
}

.contact-columns button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #23324b;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #bf9c3c;
    cursor: pointer;
}

.contact-us {
    color: white;
}

::placeholder {
    color: white;
}
