/*------------CSS for Register----------*/

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}
.bttn-reg {
    margin-top:30px;

}
.label {
    padding-top: 12px;
    text-align: center;
    font-weight: 600;
}
