<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/about.css" />

<body class="about-body">



    <!--------COLUMNS---------->
    <div class="library-columns">
        <!--------LEFT COLUMN---------->
        <form asp-action="About" class="about-left-column">
            <div class="about-left-title">
                <h2 class="about-us">About CUT</h2>
                <hr class="line">
            </div>
            <div class="about-img">

               
            </div>
            <p>
                CUT is the foremost higher education institution in the heartland of South Africa. The education university has two campuses – one in Bloemfontein,<br />
                the judicial capital of South Africa, and one in Welkom, in the heart of the Free State goldfields.<br />
                The two campuses offer education opportunities in a number of technological fields<br />
                including science, technology, engineering and mathematics (STEM); management sciences; humanities; and education.<br /><br />
                The university (then still known as the “Technikon Free State”) opened its doors in 1981, with 285 students enrolled in mainly secretarial, art and design programmes.<br />
                Today, the institution boasts more than 21 000 students who have decided to make CUT their academic partner in earning a qualification and gaining appropriate<br />
                work-integrated learning to equip and prepare them for professional practice. With the restructuring of the higher education landscape in 2004<br />
                CUT embraced its new status as a university of technology (UoT), positioning itself to succeed as such.<br />
                The qualifications on offer reside in four faculties, namely Faculty of Health and Environmental Sciences; Faculty of Humanities; Faculty of Engineering, Built Environment and Information Technology (IT); and Faculty of Management Sciences.<br />
                The university offers certificates and diplomas at undergraduate level, as well as advanced diplomas, postgraduate diplomas at honours level, and master’s and doctoral degrees<br />
                in order to increase the production of world-class postgraduate programmes and high-quality outputs for research.<br /><br />

                CUT’s vision is to be “a leading African University of Technology, shaping the future through innovation.”<br />
                The notion of CUT as a leading African University of Technology should be seen against the background of the University’s aspiration to be socially relevant and to have a positive impact on the socio-economic conditions of the community it serves.<br />
                To be a leading African UoT is to recognise the location of the University geographically but also, more importantly, to recognise its location within the matrix of social and economic challenges that the continent faces.<br />
                It talks to indigenous knowledge, a de-colonised curriculum, and distinctively African values such as ubuntu. The future orientation of the vision statement – by 2030 – requires the University to project itself 10 years into the future<br />
                in an uncertain and rapidly changing world. “Shaping the future through innovation” speaks to CUT’s aspiration to be an active force for change, finding novel and innovative solutions to the problems that the country and the continent face.<br />
                The vision statement is underpinned by seven strategic objectives arising from the stakeholder engagements and by the University’s mission statement, values, motto, and graduate attributes.<br /><br />

                From 2015 to 2021, CUT held the South African Research Chairs Initiative (SARChI) status in the field of Medical Product Development through AM<br />
                and a Department of Science and Innovation (DSI)/Manufacturing, Engineering and Related Services Sector Education and Training Authority (merSETA)-funded Chair in Innovation and Commercialisation of AM.<br />
                Furthermore, the Medical Device Additive Manufacturing Technology Demonstrator Project (MEDADD) was launched at the Bloemfontein campus in April 2022. This R71 million project, which is funded by the DSI,<br />
                is set to unite the university’s centre and industry in planning and investing resources in a collaborative manner to develop the local medical device industry through AM technology, and to reduce the country’s reliance on costly imported medical devices that local hospitals cannot afford.<br />
                This is but a small contribution the university is making in this field.<br /><br />

                CUT, as a university of the 21st century, finds itself to be part of the knowledge society, where increasing global connections,<br />
                challenges and imperatives have called for a realignment of the university’s vision, academic direction, and purpose with this reality.  Internationalisation, which encompasses academic enterprise to strengthen the academic programme,<br />
                fosters intercultural co-operation and exchange, and builds global engagement, is the university’s response to this.<br /><br />

                As part of CUT’s Internationalisation Strategy, the university continues to reach out to students and academics from the Southern African Development Community (SADC), Germany, Belgium, Finland, the Netherlands and China,<br />
                in order to create cross-border partnerships and better global community through education, and, most importantly, to contribute to South Africa’s status as a participant in innovation and world markets.<br />
                In turn, these partnerships ensure that CUT students are not only industry-ready but that they have a global perspective and an understanding of international challenges and opportunities.<br /><br />

                CUT’s Fundraising and Development Unit aims to facilitate and support the development of an effective, engaged university that:<br /><br />

                intellectually engages topical regional and national development matters, with the intention of conceiving, developing and delivering social and technological innovations and solutions; <br />and
                develops partnership projects for the development and delivery of these social and technological innovations and solutions.<br />
                The university continues to strive for academic excellence in all that it does.<br />
                Its achievements today propagate the perception that CUT, as a UoT in the Central region, is making a difference in socio-economic development as a preferred local,<br />
                national and international partner to anyone who intends contributing towards the regional and national economy.
            </p>

        </form>

    </div>

</body>


