<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/igym.css" />

<body class="igym-body">



    <!--------COLUMNS---------->
    <div class="igym-columns">
        <!--------LEFT COLUMN---------->
        <form asp-action="IGym" class="igym-left-column">
            <div class="sports-left-title">
                <h2 class="igym-us">The i-Gym</h2>
                <hr class="line">
            </div>
            <div class="igym-img">

                <img src="~/images/adtwo.JPG" width="250px" height="260px" />
            </div>
            <p>
               Home to innovation and entrepreneurship the i-Gym or idea generator is a haven for students to bring forth their ideas and to explore<br />
               methods and strategies to implement for them to come to fruition.<br /><br />
               There are usually eduational sessions held in the i-Gym to help enrich our students with information about<br />
               entrepreneurship and much more.<br /><br />
               to learn more about the i-Gym and events visit the I-Gym building located front opposite the student support building.
            </p>



        </form>


    </div>

</body>


