<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/library.css" />

<body class="library-body">



    <!--------COLUMNS---------->
    <div class="library-columns">
        <!--------LEFT COLUMN---------->
        <form asp-action="library" class="library-left-column">
            <div class="library-left-title">
                <h2 class="library-us">The Library</h2>
                <hr class="line">
            </div>
            <div class="library-img">

                <img src="~/images/adthree.JPG" width="250px" height="260px" />
            </div>
            <p>
                A state of the art facility The Cut library is stacked with the latest resources, the latest books, the latest computers<br />
                the CUT library is on par with some of the world's biggest libraries.<br><br />
                Our library has isolation desks on all floors where students can sit in comforting silence to do school work.<br><br />
                for those that like to work in groups, the ground floor has a discussion room where students can sit in groups and do shool work together. 
            </p>



        </form>


    </div>

</body>


