<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/sports.css" />

<body class="sports-body">



    <!--------COLUMNS---------->
    <div class="sports-columns">
        <!--------LEFT COLUMN---------->
        <form asp-action="Sports" class="contact-left-column">
            <div class="sports-left-title">
                <h2 class="sports-us">Sports</h2>
                <hr class="line">
            </div>
            <div class="sports-img">

                <img src="~/images/adone.JPG" width="250px" height="260px"/>
            </div>
            <p>CUT offers a variety of sports for students to partake in. Namely Athletics, Basketball, Cricket, Cycling<br />
                Gaming(eSports), Hockey, Netball, Rugby & Soccer. students get to participate in competitions & tournaments allowing them opportunity<br />
                to win prizes and even bursaries. you even stand the change to win a vacation<br /><br />
                To participate in a particular sport make your way to student support on campus to receive assistance.</p>


           
        </form>


    </div>

</body>


