<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/wellness.css" />

<body class="igym-body">



    <!--------COLUMNS---------->
    <div class="wellness-columns">
        <!--------LEFT COLUMN---------->
        <form asp-action="Wellness" class="wellness-left-column">
            <div class="wellness-left-title">
                <h2 class="wellness-us">Outdoor Wellness Centre</h2>
                <hr class="line">
            </div>
            <div class="wellness-img">

                <img src="~/images/adfour.JPG" width="250px" height="260px" />
            </div>
            <p>
                We believe that a sharp mind should be paired with a sharp body and as such CUT has an outdoor wellness center accompanied by state of<br />
                of the art equipment, students can work outdoors to get their bodies in shape and refresh their minds for learning<br />
                reducing the costs of having to pay for a gym membership
            </p>



        </form>


    </div>

</body>


